@import "tailwindcss";

:root {
	--ctx_menu_x: 0px;
	--ctx_menu_y: 0px;
	--toolbar-height: 100px;
	--sheet-iframe-border-color: #f5f6f7;
	--sheet-iframe-background-color: #fff;
	--sheet-toolbar-background-color: #f5f6f7;
	--sheet-toolbar-divider-color: #e0e2e4;
	--sheet-dropdown-content-background-color: #fff;
	--sheet-dropdown-content-color: rgba(0, 0, 0, 0.9);
	--sheet-dropdown-title-color: rgba(0, 0, 0, 0.9);
	--sheet-menu-color: #80868b;
	--sheet-menu-active-background-color: #fff;
	--sheet-header-background-color: #f8f8f9;
	--sheet-checked-before: #4b89ff;
}

.authorization-code-container {
	text-align: center;
	font-size: 20px;
}

/* 修复数据验证 */
.workspace-leaf {
	contain: none !important;
}

.lj-table-box {
	overflow-x: scroll;
}

.lj-table {
	border-spacing: 0px;
	border: 0.5px solid #7f7f7f;
}

.lj-table td {
	border: 0.5px solid #7f7f7f;
}

/* Markdown 文档引入样式设置*/
.sheet-iframe {
	text-align: center;
	width: 100%;
	background-color: var(--sheet-iframe-background-color);
	border: 1px solid rgb(var(--bg-color));
}

.sheet-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.univer-dark .sheet-iframe {
  background-color: #282828;
}

.sheet-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* 设置为白色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  visibility: visible; /* 初始隐藏 */
	border: 1px solid #ececec;
}

.univer-dark .sheet-loading-overlay {
  background-color: #1e1e1e;
  border-color: #363636;
}

/* 逐个字上下跳动动画 */
.loading-text {
  font-size: 16px;
  color: #333; /* 文字颜色 */
  display: flex;
  justify-content: center; /* 文字水平居中 */
	align-items: center;
}

.univer-dark .loading-text {
  color: #dadada;
}

/* 每个字的动画 */
.loading-text span {
	font-size: 24px;
	font-weight: bold;
  display: inline-block;
  animation: bounce 1s ease-in-out infinite; /* 设置上下跳动动画 */
  margin: 0 3px; /* 字符之间的间距 */
}

/* 上下跳动动画效果 */
@keyframes bounce {
  0% {
    transform: translateY(0); /* 起始位置 */
  }
  50% {
    transform: translateY(-12px); /* 上移10px */
  }
  100% {
    transform: translateY(0); /* 还原回起始位置 */
  }
}

/* 为每个字添加不同的动画延迟，创建逐个字跳动的效果 */
.loading-text span:nth-child(1) {
  animation-delay: 0s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.6s;
}

#sheet-box {
	height: calc(100vh - var(--toolbar-height) - 66px);
	box-sizing: border-box;
}

.sheet-html {
	overflow-x: auto;
}

.sheet-html table {
	border-collapse: collapse;
	line-height: var(--table-line-height);
}

.sheet-html td,
.sheet-html th {
	padding: var(--size-2-2) var(--size-4-2);
	border: var(--table-border-width) solid var(--table-border-color);
	max-width: var(--table-column-max-width);
}

.sheet-html td {
	font-size: var(--table-text-size);
	color: var(--table-text-color);
}

.my-univer {
	height: calc(100%);
  width: 100%;
	border: 1px solid #ececec;
}

.univer-dark .my-univer {
  border-color: #363636;
}

.my-tab-bar {
  border-color: #ececec;
}

.univer-dark .my-tab-bar {
  border-color: #363636;
}

.univer-menu-item,
.univer-icon-container,
.more-numfmt-type,
.univer-slide-tab-item {
	color: black;
}

.univer-slide-tab-active {
	color: rgb(var(--primary-color));
}
button.clickable-icon
button.univer-button-text,
button.univer-toolbar-btn,
button.univer-dialog-close,
button.univer-sheet-bar-btn,
button.univer-data-validation-detail-button,
button.univer-range-selector-icon,
button.univer-range-selector-modal-add-button {
	background-color: transparent;
	box-shadow: none;
}

.my-univer .univer-input {
	box-shadow: none !important;
	color: rgb(var(--text-color)) !important;
}

button.univer-toolbar-btn-active {
	background-color: rgb(var(--grey-100));
}

.univer-modal-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.univer-mdal-btn {
	margin: 0 10px;
}

.my-univer input[type="search"],
.my-univer input[type="search"]:active,
.my-univer input[type="search"]:focus,
.my-univer input[type="search"]:focus-visible,
.my-univer input[type="text"] {
	height: auto;
	box-shadow: none;
}
.univer-cell-link-edit input[type="search"]:focus-visible {
  box-shadow: none;
}

.my-univer input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--checkbox-radius);
    border: 1px solid var(--checkbox-border-color);
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-inline-end: 6px;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    height: auto;
    transition: box-shadow 0.15s ease-in-out;
}

.univer-checkbox-target {
    position: relative;
    height: 28px;
    display: inline-flex;
    align-items: center;
}

.my-univer input[type="text"]:focus,
.my-univer input[type="text"]:active,
.my-univer [type="text"]:focus-visible {
	box-shadow: none;
}

.lj-content-view {
  min-width: 600px;
  min-height: 400px;
}

.lj-content-view button:not(.clickable-icon) {
  box-shadow: none;
}

.univer-grid button:not(.clickable-icon),
.my-univer button:not(.clickable-icon) {
  box-shadow: none;
  background-color: transparent;
}

button.univer-button-link {
    color: rgb(var(--primary-color));
    background-color: transparent;
    border-color: transparent;
	box-shadow: none;
}

button.univer-button-primary {
	font-weight: 500;
	color: rgb(var(--color-white));
	background-color: rgb(var(--primary-color));
	border-color: rgb(var(--primary-color));
	box-shadow: none;
}

button.univer-toolbar-btn {
	color: rgb(var(--text-color));
}

button.univer-button-default {
    font-weight: 400;
    color: rgb(var(--text-color));
    background-color: rgb(var(--bg-color-secondary));
	box-shadow: none;
}

.univer-input-number-input {
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 34px;
    color: rgb(var(--text-color));
    text-align: center;
    border: 0;
    border-radius: var(--border-radius-base);
    outline: 0;
    transition: all .15s;
    background: rgb(var(--bg-color-secondary));
}

.outgoing-link {
    .rc-select {
        width: 100%;
    }

    .rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
        background: transparent;
        height: 26px;
        padding-left: 6px;
    }

    .rc-select-single .rc-select-selector .rc-select-selection-item,
    .rc-select-single .rc-select-selector .rc-select-selection-placeholder {
        top: 4px;
        left: 6px;
        font-size: 14px;
        line-height: 20px;
    }

    .rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
        border-radius: 6px;
        border-color: rgb(227, 229, 234);
    }

    .rc-select-show-arrow .rc-select-arrow {
        top: 6px;
    }
}

.univer-dark .outgoing-link {
    .rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
        border: none;
    }

    .rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
        color: #fff;
    }

    .rc-select-dropdown {
        border: 1px solid #31363f;
        border-radius: 6px;
        background: #272a2f;
    }

    .rc-select-item-option-active {
        background: #31363f;
    }
}
